* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: min(1400px, 92%);
  margin: 0 auto;
}

body.noscroll {
  overflow: hidden;
}
